<!DOCTYPE html>
<html>
<head>
  <title>LocalWebsite</title>
  <%= stylesheet_link_tag    "admin/application", :media => "all" %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<div id="user_nav" align="right">
  Signed in as <%= current_user.email %>. Not you?
  <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
 </div>
<% end %>

<%= yield %>

</body>
</html>
